*{
	box-sizing: border-box;
}

body
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

a{
	display: inline-block;
}

section
{
	padding-top: 60px;
	padding-bottom: 60px;
}

h2{
	
}

.contenedor
{
	width: 1170px;
	/*
	acuerdate de mi 
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;*/
	margin-left: auto;
	margin-right: auto;
	/*
	padding-top: 10px;
	padding-bottom: 10px;*/
	padding-right: 15px;
	padding-left: 15px;
}

.columnas
{
	margin-left: -1.6px;
	margin-right: -1.6px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
	vertical-align: top;
}

.sinpadding
{
	padding-left: 0;
	padding-right: 0;
}

.columna-50
{
	width: 50%;
}

.columna-33
{
	width: 33.33%;
}

.columna-25
{
	width: 25%;
}

header.cabecera
{
	padding-top: 15px;
	padding-bottom: 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

header.cabecera .logo
{
	width: 80px;
	height: auto;
}

header.cabecera .content-logo
{
	display: inline-block;
	vertical-align: middle;
}

header.cabecera .hamb
{
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	font-size: 40px;
	margin-left: 89%;
	position: relative;
}

header.cabecera .menu
{
	display: block;
	width: 25%;
	background-color: #000;
	padding:150px 30px;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
}

header.cabecera .menu a
{
	display: block;
	color: #fff;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	font-size: 20px;
}





